@model LoginViewModel;
@{
}
@section Styles{
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<style>
    #login-card {
        position: absolute;
        width: 400px;
        max-width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
</style>
}
@{
    string errorMessage = TempData["LoginError"] as string;

    if (!string.IsNullOrWhiteSpace(errorMessage))
    {
        <div>
            @errorMessage
        </div>
    }
}
<div id="login-card" class="card shadow p-3">
    <form id="login-form"  asp-action="Index" asp-controller="Login" method="post">
        <div class="mb-3">
            <label for="UserName" class="form-label">使用者</label>
            <input type="text" name="UserName" class="form-control" id="UserName" placeholder="Jay Chen">
        </div>
        <div class="mb-3">
            <label for="Password" class="form-label">密碼</label>
            <input type="Password" name="Password" class="form-control"  placeholder=""/>
        </div>
         <div class="mb-3 d-flex justify-content-end">
             <button type="submit" class="btn btn-primary">登入</button>
             <button type="submit" class="btn btn-secondary ms-2">註冊</button>
        </div>
    </form>
</div>
